.text-gray-light {
    color: #6a737d!important;
}

.class-header{
    padding-top: 16px;
    background-color: #fafbfc;
}

.class-title{
    margin-bottom: 5px;
    font-weight: 600;
    font-size:20px !important;
    color: #24292e;
    float:left;
}

.class-svg{
    margin-top: 9px;
    margin-right: 8px;
    color: #586069;
    vertical-align: text-bottom;
    float:left;
}

.class-menu{
    margin-left: 20px !important;
    background-color: #fafbfc !important;
}

.class-button{
    margin-left: 10px;
}
